POSTGRES_USER=βάλε_δικό_σου_username
POSTGRES_PASSWORD=βάλε_δικό_σου_κωδικό
POSTGRES_DB=library_db

# Άλλαξέ το αν το 5432 είναι πιασμένο.
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg://ΧΡΗΣΤΗΣ:ΚΩΔΙΚΟΣ@localhost:5432/library_db

# Τυχαίο κλειδί για την υπογραφή των JWT.
SECRET_KEY=βάλε_ένα_δικό_σου_τυχαίο_κλειδί
